@import url(https://fonts.googleapis.com/css?family=Rubik:300,400,500,700,900);
@import url(https://fonts.googleapis.com/css?family=Karla:400,700);
body {
  overflow-x: hidden;
}

#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;
}

#nav {
  padding: 30px;
}

#nav a {
  font-weight: bold;
  color: #2c3e50;
}

#nav a .router-link-exact-active {
  color: #42b983;
}

/* NAVBAR */
.navbar {
  font-family: "Rubik" !important;
  font-style: normal !important;
  font-weight: 500 !important;
  font-size: 16px !important;
  line-height: 19px !important;
  padding-top: 20px !important;
  padding-bottom: 20px !important;
}

.navbar .btn {
  font-family: "Rubik" !important;
  font-style: normal !important;
  font-weight: 500 !important;
  font-size: 16px !important;
  margin-top: -4px !important;
}

.bg-putih {
  background-color: #fff !important;
}

.navbar-light .navbar-nav .nav-item {
  margin-left: 20px;
}

.navbar-light .navbar-nav .nav-link {
  color: #B1B1B1 !important;
}

.navbar-light .navbar-nav .nav-link:hover {
  color: #1FAB89 !important;
}

.navbar-light .navbar-nav .active > .nav-link {
  color: #1FAB89 !important;
}

/* CONTAINER */
.container-home, .container-nav, .container-footer {
  max-width: 90% !important;
}

.container-home {
  margin-top: calc(5% + 88px);
  margin-bottom: 10%;
}

.container-home .half-h1 {
  background: -webkit-gradient(linear, left bottom, left top, color-stop(40%, rgba(166, 64, 247, 0.3)), color-stop(40%, transparent));
  background: -webkit-linear-gradient(bottom, rgba(166, 64, 247, 0.3) 40%, transparent 40%);
  background: -o-linear-gradient(bottom, rgba(166, 64, 247, 0.3) 40%, transparent 40%);
  background: linear-gradient(to top, rgba(166, 64, 247, 0.3) 40%, transparent 40%);
}

.container-home .btn {
  text-transform: uppercase;
}

.container-about h4 {
  color: #8D8D8D;
}

.container-about .autofood-p {
  color: #4F4F4F;
}

.container-about .btn {
  text-transform: uppercase;
}

.container-about .col-sekilas h1 {
  float: left;
  color: #000;
}

.container-about .col-sekilas .imgku {
  float: left;
  margin-left: 40px;
}

.container-about .row-iconic {
  margin-top: 100px;
}

.container-about .row-iconic h4 {
  font-family: "Rubik" !important;
  font-style: normal !important;
  font-weight: 500 !important;
  font-size: 16px !important;
  font-size: 22px !important;
  line-height: 26px;
  text-align: right;
  color: #333;
}

.container-about .row-iconic img {
  float: right;
  margin-left: 30px;
}

.container-layanan {
  margin-top: 10vh;
}

.container-layanan .row .col-md-4 {
  padding-top: 15vh;
  background-color: #F7F7F7;
}

.container-layanan .row .col-md-4 .container-layanan-child-1 {
  padding-left: 120px;
}

.container-layanan .row .col-md-4 .container-layanan-child-1 .img-lay-1 {
  margin-bottom: 12vh;
}

.container-layanan .row .col-md-4 .container-layanan-child-1 .img-lay-2 {
  margin-top: 30px;
  margin-left: -120px;
}

.container-layanan .row .col-md-4 .container-layanan-child-1 .half-h1 {
  background: -webkit-gradient(linear, left bottom, left top, color-stop(40%, #9DF3C4), color-stop(40%, transparent));
  background: -webkit-linear-gradient(bottom, #9DF3C4 40%, transparent 40%);
  background: -o-linear-gradient(bottom, #9DF3C4 40%, transparent 40%);
  background: linear-gradient(to top, #9DF3C4 40%, transparent 40%);
}

.container-layanan .row .col-md-4 .container-layanan-child-1 .pemesanan {
  margin-top: 60px;
}

.container-layanan .row .col-md-4 .container-layanan-child-1 .pemesanan ul {
  list-style-type: none;
}

.container-layanan .row .col-md-4 .container-layanan-child-1 .pemesanan ul .active a {
  color: #1FAB89;
  font-weight: 500;
  font-size: 22px !important;
}

.container-layanan .row .col-md-4 .container-layanan-child-1 .pemesanan ul li a {
  font-family: Rubik;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  color: #171717;
  text-transform: uppercase;
  text-decoration: none;
}

.container-layanan .row .col-md-4 .container-layanan-child-1 .pemesanan ul li a:hover {
  color: #1FAB89;
}

.container-layanan .row .col-md-8 .container .cardku {
  padding: 40px 20px 40px 20px !important;
  border: 2px #CECECE solid;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  width: 90%;
  height: 400px;
  border-radius: 5px;
  margin-bottom: 40px;
  text-align: center;
}

.container-layanan .row .col-md-8 .container .cardku h1 {
  font-family: Rubik;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
  color: #171717;
}

.container-layanan .row .col-md-8 .container .cardku p {
  font-family: Karla;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 28px;
  color: #8D8D8D;
}

.container-layanan .row .col-md-8 .container .cardku img {
  margin: 68px 0 68px 0;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.container-layanan .row .col-md-8 .container .cardku:hover {
  margin-top: -10px;
  -webkit-box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.container-layanan .row .col-md-8 .container .cardku:hover h1 {
  color: #1FAB89;
}

.container-ending {
  background: url(../img/bg43.png) no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 743px;
  padding-top: 14vh;
}

.container-ending .container .cardku-ending {
  width: 80%;
  padding: 95px 0 70px 0;
  background-color: #fff;
  border-radius: 12px;
  text-align: center;
  -webkit-box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.15);
}

.container-ending .container .cardku-ending p {
  margin: 25px 0 75px 0;
  font-family: Karla;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 32px;
}

.container-ending .container .cardku-ending button {
  margin: 15px;
}

.container-ending .container .cardku-ending .btn-forth {
  background-color: #A640F7;
  border: 2px #A640F7 solid;
  color: #FFFFFF;
  font-family: "Rubik" !important;
  font-style: normal !important;
  font-weight: 500 !important;
  font-size: 16px !important;
}

.container-ending .container .cardku-ending .btn-forth span {
  margin-right: 15px;
}

.container-ending .container .cardku-ending .btn-forth:hover {
  color: #A640F7;
  background-color: transparent;
  border: 2px #A640F7 solid;
}

footer {
  background-color: #F7F7F7;
}

footer .container-footer {
  padding-top: 70px;
  padding-bottom: 90px;
}

footer .container-footer h4 {
  color: #4D4D4D;
  font-family: Rubik;
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 26px;
  margin-bottom: 50px;
  padding-top: 10px;
}

footer .container-footer p {
  color: #B1B1B1;
  font-family: Karla;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
}

footer .container-footer input[type=email] {
  width: 80%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 16px;
  background-color: white;
  background-image: url("../img/@.png");
  background-position: 15px 15px;
  background-repeat: no-repeat;
  padding: 14px 20px 12px 50px;
  border: 2px solid #cecece;
  border-radius: 6px;
  font-family: Karla;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  color: #4D4D4D;
}

footer .container-footer button {
  margin-top: 10px;
}

footer .container-footer ::-webkit-input-placeholder {
  /* Firefox, Chrome, Opera */
  color: #CECECE;
}

footer .container-footer :-ms-input-placeholder {
  /* Firefox, Chrome, Opera */
  color: #CECECE;
}

footer .container-footer ::-ms-input-placeholder {
  /* Firefox, Chrome, Opera */
  color: #CECECE;
}

footer .container-footer ::placeholder {
  /* Firefox, Chrome, Opera */
  color: #CECECE;
}

footer .container-footer :-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #CECECE;
}

footer .container-footer ::-ms-input-placeholder {
  /* Microsoft Edge */
  color: #CECECE;
}

/* FOOD PAGE */
.container-food {
  margin-top: 8vh;
  margin-bottom: 10%;
}

.container-food img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.container-food .row {
  margin-top: 10vh;
}

.container-food .card {
  text-align: center;
  font-family: karla;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

.container-food .card .body-padding {
  padding: 3%;
  height: 200px;
}

.container-food .card h5 {
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  margin-top: 10px;
}

.container-food .card p {
  font-size: 13px;
}

.container-food .card .lokasi {
  margin: 0 15px 0 5px;
}

.container-food .card .fa-map-marker {
  color: #62D2A2;
}

.container-food .card .bintang {
  margin: 0 0 0 5px;
}

.container-food .card .fa-star {
  color: #f4bf42;
}

.container-food .card .alamat {
  margin-top: 10px;
}

.container-food .card:hover {
  -webkit-box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  text-decoration: none;
  margin-top: -1vh;
}

.container-food .card:hover h5 {
  color: #1FAB89;
}

.container-food .img-div {
  width: 100%;
  min-height: 200px;
  max-height: 200px;
  border-radius: 10px 10px 0px 0px;
}

.container-food .card-padding {
  text-decoration: none;
  color: black;
  min-height: 450px;
  margin-bottom: 5vh;
  border-radius: 10px !important;
}

.two {
  background-color: #34ADFF;
  background-image: -webkit-linear-gradient(140deg, #1FAB89 35%, #26D2A8 35%);
  min-height: 400px;
  padding-top: 50px;
}

.container-detil {
  border-radius: 6px;
  padding-top: 65px;
  margin-left: 10vw;
  margin-right: 10vw;
  margin-top: 88px;
  background-color: #fff;
}

.container-detil .btn-second {
  margin: 0 20px 0 0;
  text-transform: uppercase;
}

.container-detil .img-detail {
  max-width: 100% !important;
  max-height: 350px;
  min-height: 350px;
  margin-bottom: 10px;
  border-radius: 10px !important;
}

.container-detil .order-imeg {
  width: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.container-detil .order-p {
  text-align: center;
  margin-top: 30px;
  font-family: "Rubik" !important;
  font-style: normal !important;
  font-weight: 500 !important;
  font-size: 16px !important;
}

.container-detil .img-gallery {
  position: relative;
  max-width: 100% !important;
  max-height: 200px;
  min-height: 200px;
  min-width: 100% !important;
  margin-bottom: 10px;
  border-radius: 10px !important;
  overflow: hidden;
  -webkit-transition: -webkit-transform .5s ease;
  transition: -webkit-transform .5s ease;
  -o-transition: transform .5s ease;
  transition: transform .5s ease;
  transition: transform .5s ease, -webkit-transform .5s ease;
}

.container-detil .img-gallery:hover {
  -webkit-transform: scale(1.5);
  -ms-transform: scale(1.5);
  transform: scale(1.5);
  border: 2px #ccc solid;
  z-index: 100;
  cursor: pointer;
}

.container-detil .green {
  color: #1fab89;
}

.container-detil .card-detail-padding {
  padding: 2% !important;
}

.container-detil .space-card {
  margin-bottom: 20px !important;
}

.container-detil .kustomer a:hover {
  color: #1fab89;
  text-decoration: none !important;
}

.container-detil h6 {
  margin-bottom: 20px !important;
  font-weight: none !important;
  font-size: 16px !important;
  color: #777777;
}

.container-detil h6 .fa {
  margin-right: 10px;
}

.container-detil h6 span {
  margin-right: 5px;
}

.container-detil .komen {
  margin-top: 4%;
}

.container-detil .komen img {
  width: 150px;
  border-radius: 150px;
}

.container-detil .komen .menit-komen {
  margin-top: 20px;
}

.container-detil .komen h5 {
  font-family: "Rubik" !important;
  font-style: normal !important;
  font-weight: 500 !important;
  font-size: 16px !important;
}

.container-detil .komen h5 a {
  color: #171717;
}

.container-detil .komen span {
  margin-left: 20px;
}

.container-detil .komen i {
  margin-right: 4px;
}

.parallax-list {
  background-image: url("../img/food-fix.png");
  height: 50vh;
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* SS */
#home {
  position: absolute;
  top: 0;
}

#about {
  position: absolute;
  margin-top: -88px;
}

/* GLOBAL TYPOGRAPHY */
.autofood-h1 {
  font-family: Rubik;
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  line-height: 60px;
}

.autofood-h1-2 {
  font-family: Karla;
  font-style: normal;
  font-weight: normal;
  font-size: 52px;
  line-height: 61px;
  text-align: center;
  color: #B1B1B1;
  float: right;
  margin: 12% 15% 0 0;
}

.autofood-h2 {
  font-family: "Rubik" !important;
  font-style: normal !important;
  font-weight: 500 !important;
  font-size: 16px !important;
  font-size: 40px !important;
}

.autofood-h2 span {
  font-size: 20px;
}

.autofood-p {
  font-family: Karla;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 32px;
  color: #171717;
  margin-top: 50px;
}

.ijo {
  color: #1FAB89;
  font-weight: bold;
}

/* CUSTOM BUTTON */
.btn {
  font-family: "Rubik" !important;
  font-style: normal !important;
  font-weight: 500 !important;
  font-size: 16px !important;
  font-size: 15px !important;
  margin-top: 40px;
}

.btn-main {
  color: #4D4D4D;
  background-color: transparent;
  border: 2px #4D4D4D solid !important;
}

.btn-main:hover {
  color: #1FAB89;
  background-color: transparent;
  border: 2px #1FAB89 solid !important;
}

.btn-second {
  color: #fff;
  background-color: #1FAB89;
  border: 2px #1FAB89 solid !important;
}

.btn-second:hover {
  color: #1FAB89;
  background-color: transparent;
  border: 2px #1FAB89 solid !important;
}

.btn-third {
  color: #1FAB89;
  background-color: #fff;
  border: 2px #1FAB89 solid !important;
}

.btn-third:hover {
  color: #fff !important;
  background-color: #1FAB89;
  border: 2px #1FAB89 solid !important;
}
