@import url(https://fonts.googleapis.com/css?family=Rubik:300,400,500,700,900);
@import url(https://fonts.googleapis.com/css?family=Karla:400,700);

@mixin font-rubik-nich {
	font-family: 'Rubik'!important;
	font-style: normal!important;
	font-weight: 500!important;
	font-size: 16px!important;
}

@mixin img-center-nich {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

@mixin font-karla-nich {
	font-family: Karla;
	font-style: normal;
}

body {
	overflow-x: hidden;
}

#app {
	font-family: 'Avenir', Helvetica, Arial, sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	color: #2c3e50;
}

#nav {
	padding: 30px;

	a {
		font-weight: bold;
		color: #2c3e50;

		.router-link-exact-active {
			color: #42b983;
		}
	}
}

/* NAVBAR */
.navbar {
	@include font-rubik-nich;
	line-height: 19px!important;
	padding-top: 20px!important;
	padding-bottom: 20px!important;

	.btn {
		@include font-rubik-nich;
		margin-top: -4px!important;
	}
}

.bg-putih {
	background-color: #fff!important;
}

.navbar-light {
	.navbar-nav {
		.nav-item {
			margin-left: 20px;
		}
		.nav-link {
			color: #B1B1B1!important;

			&:hover {
				color: #1FAB89!important;
			}
		}
		.active>.nav-link {
			color: #1FAB89!important;
		}
	}
}

/* CONTAINER */
.container-home, .container-nav, .container-footer {
	max-width: 90%!important;
}

.container-home {
	margin-top: calc(5% + 88px);
	margin-bottom: 10%;

	.half-h1 {
		background: linear-gradient(to top, rgba(166, 64, 247, 0.3) 40%, transparent 40%);
	}

	.btn {
		text-transform: uppercase;
	}
}

.container-about {
	h4 {
		color: #8D8D8D;
	}

	.autofood-p {
		color: #4F4F4F;
	}

	.btn {
		text-transform: uppercase;
	}

	.col-sekilas {
		h1 {
			float: left; color: #000;
		}

		.imgku {
			float: left; margin-left: 40px;
		}
	}

	.row-iconic {
		margin-top: 100px;

		h4 {
			@include font-rubik-nich;
			font-size: 22px!important;
			line-height: 26px;
			text-align: right;
			color: #333;
		}

		img {
			float: right;
			margin-left: 30px;
		}
	}
}

.container-layanan {
	margin-top: 10vh;
	.row {
		.col-md-4 {
			padding-top: 15vh;
			background-color: #F7F7F7;

			.container-layanan-child-1 {
				padding-left: 120px;

				.img-lay-1 {
					margin-bottom: 12vh;
				}

				.img-lay-2 {
					margin-top: 30px;
					margin-left: -120px;
				}

				.half-h1 {
					background: linear-gradient(to top, #9DF3C4 40%, transparent 40%);
				}

				.pemesanan {
					margin-top: 60px;

					ul {
						list-style-type: none;

						.active {
							a {
								color: #1FAB89;
								font-weight: 500;
								font-size: 22px!important;
							}
						}

						li {
							a {
								font-family: Rubik;
								font-style: normal;
								font-weight: normal;
								font-size: 18px;
								line-height: 21px;
								color: #171717;
								text-transform: uppercase;
								text-decoration: none;

								&:hover {
									color: #1FAB89;
								}
							}
						}
					}
				}
			}
		}

		.col-md-8 {
			.container {
				.cardku {
					padding: 40px 20px 40px 20px!important;
					border: 2px #CECECE solid;
					transition: 0.3s;
					width: 90%;
					height: 400px;
					border-radius: 5px;
					margin-bottom: 40px;
					text-align: center;

					h1 {
						font-family: Rubik;
						font-style: normal;
						font-weight: bold;
						font-size: 24px;
						line-height: 28px;
						color: #171717;
					}

					p {
						font-family: Karla;
						font-style: normal;
						font-weight: normal;
						font-size: 16px;
						line-height: 28px;
						color: #8D8D8D;
					}

					img {
						margin: 68px 0 68px 0;
						@include img-center-nich;
					}

					&:hover {
						margin-top: -10px;
						box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);

						h1 {
							color: #1FAB89;
						}
					}
				}
			}
		}
	}
}

.container-ending {
	background: url(../img/bg43.png) no-repeat center center; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	height: 743px;
	padding-top: 14vh;

	.container {
		.cardku-ending {
			width: 80%;
			padding: 95px 0 70px 0;
			background-color: #fff;
			border-radius: 12px;
			text-align: center;
			box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.15);

			p {
				margin: 25px 0 75px 0;
				@include font-karla-nich;
				font-weight: normal;
				font-size: 18px;
				line-height: 32px;
			}

			button {
				margin: 15px;
			}

			.btn-forth {
				background-color: #A640F7;
				border: 2px #A640F7 solid;
				color: #FFFFFF;
				@include font-rubik-nich;

				span {
					margin-right: 15px;
				}

				&:hover {
					color: #A640F7;
					background-color: transparent;
					border: 2px #A640F7 solid;
				}
			}
		}
	}
}

footer {
	background-color: #F7F7F7;

	.container-footer {
		padding-top: 70px;
		padding-bottom: 90px;

		h4 {
			color: #4D4D4D;
			font-family: Rubik;
			font-style: normal;
			font-weight: 500;
			font-size: 22px;
			line-height: 26px;
			margin-bottom: 50px;
			padding-top: 10px;
		}

		p {
			color: #B1B1B1;
			font-family: Karla;
			font-style: normal;
			font-weight: normal;
			font-size: 18px;
			line-height: 21px;
		}

		input[type=email] {
			width: 80%;
			box-sizing: border-box;
			font-size: 16px;
			background-color: white;
			background-image: url('../img/@.png');
			background-position: 15px 15px; 
			background-repeat: no-repeat;
			padding: 14px 20px 12px 50px;
			border: 2px solid #cecece;
			border-radius: 6px;

			font-family: Karla;
			font-style: normal;
			font-weight: normal;
			font-size: 18px;
			line-height: 21px;
			color: #4D4D4D;
		}

		button {
			margin-top: 10px;
		}

		::placeholder { /* Firefox, Chrome, Opera */ 
			color: #CECECE;
		} 

		:-ms-input-placeholder { /* Internet Explorer 10-11 */ 
			color: #CECECE;
		} 

		::-ms-input-placeholder { /* Microsoft Edge */ 
			color: #CECECE;
		} 
	}
}

/* FOOD PAGE */

.container-food {
	margin-top: 8vh;
	margin-bottom: 10%;

	img {
		@include img-center-nich;
	}

	.row {
		margin-top: 10vh;
	}

	.card {
		text-align: center;
		font-family: karla;
		transition: all 0.3s;

		.body-padding {
			padding: 3%;
			height: 200px;
		}

		h5 {
			font-style: normal;
			font-weight: bold;
			font-size: 20px;
			margin-top: 10px;
		}

		p {
			font-size: 13px;
		}

		.lokasi {
			margin: 0 15px 0 5px;
		}

		.fa-map-marker {
			color:#62D2A2;
		}

		.bintang {
			margin: 0 0 0 5px;
		}

		.fa-star {
			color:#f4bf42;
		}

		.alamat {
			margin-top: 10px;
		}

		&:hover{
			box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
			text-decoration: none;
			margin-top: -1vh;

			h5 {
				color: #1FAB89;
			}
		}
	}

	.img-div{
		width: 100%;  
		min-height: 200px; 
		max-height: 200px;
		border-radius: 10px 10px 0px 0px
	}

	.card-padding{
		text-decoration: none; 
		color: black;
		min-height: 450px; 
		margin-bottom: 5vh;
		border-radius: 10px!important
	}
}

.two{
	background-color: #34ADFF;
	background-image: -webkit-linear-gradient(140deg, #1FAB89 35%, #26D2A8 35%);
	min-height: 400px;
	padding-top: 50px;
}

.container-detil {
	border-radius: 6px;
	padding-top: 65px;
	margin-left:10vw; 
	margin-right:10vw; 
	margin-top: 88px; 
	background-color: #fff;

	.btn-second {
		margin: 0 20px 0 0;
		text-transform: uppercase;
	}

	.img-detail{
		max-width: 100%!important;  
		max-height: 350px;
		min-height: 350px;
		margin-bottom: 10px;
		border-radius: 10px!important
	}

	.order-imeg {
		width: 50%;
		@include img-center-nich
	}

	.order-p {
		text-align: center;
		margin-top: 30px;
		@include font-rubik-nich;
	}

	.img-gallery {
		position: relative;
		max-width: 100%!important;  
		max-height: 200px;
		min-height: 200px;
		min-width: 100%!important;  
		margin-bottom: 10px;
		border-radius: 10px!important;
		overflow: hidden; 
		transition: transform .5s ease;
	}

	.img-gallery:hover {
		transform: scale(1.5);
		border: 2px #ccc solid;
		z-index: 100;
		cursor: pointer;
	}

	.green {
		color: #1fab89;
	}

	.card-detail-padding {
		padding: 2%!important;
	}

	.space-card {
		margin-bottom:20px!important
	}

	.kustomer {
		a {
			&:hover {
				color: #1fab89;
				text-decoration: none!important;
			}
		}
	}

	h6 {
		margin-bottom: 20px!important;
		font-weight: none!important;
		font-size: 16px!important;
		color: #777777;

		.fa {
			margin-right: 10px;
		}

		span {
			margin-right: 5px;
		}
	}

	.komen {
		margin-top:4%;

		img {
			width: 150px;
			border-radius: 150px;
		}

		.menit-komen {
			margin-top: 20px;
		}

		h5 {
			@include font-rubik-nich;

			a {
				color: #171717;
			}
		}

		span {
			margin-left: 20px;
		}

		i {
			margin-right: 4px;
		}
	}
}

.parallax-list {
	background-image: url('../img/food-fix.png');
	height: 50vh; 

	/* Create the parallax scrolling effect */
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

/* SS */
#home {
	position: absolute;
	top: 0;
}

#about {
	position: absolute;
	margin-top: -88px;
}

/* GLOBAL TYPOGRAPHY */
.autofood-h1 {
	font-family: Rubik;
	font-style: normal;
	font-weight: bold;
	font-size: 48px;
	line-height: 60px;
}

.autofood-h1-2 {
	@include font-karla-nich;
	font-weight: normal;
	font-size: 52px;
	line-height: 61px;
	text-align: center;
	color: #B1B1B1;
	float: right;
	margin: 12% 15% 0 0;
}

.autofood-h2 {
	@include font-rubik-nich;
	font-size: 40px!important;

	span {
		font-size: 20px;
	}
}

.autofood-p {
	@include font-karla-nich;
	font-weight: normal;
	font-size: 18px;
	line-height: 32px;
	color: #171717;
	margin-top: 50px;
}

.ijo {
	color: #1FAB89;
	font-weight: bold;
}

/* CUSTOM BUTTON */
.btn {
	@include font-rubik-nich;
	font-size: 15px!important;
	margin-top: 40px;
}

.btn-main {
	color: #4D4D4D;
	background-color: transparent;
	border: 2px #4D4D4D solid!important;

	&:hover {
		color: #1FAB89;
		background-color: transparent;
		border: 2px #1FAB89 solid!important;
	}
}

.btn-second {
	color: #fff;
	background-color: #1FAB89;
	border: 2px #1FAB89 solid!important;

	&:hover {
		color: #1FAB89;
		background-color: transparent;
		border: 2px #1FAB89 solid!important;
	}
}

.btn-third {
	color: #1FAB89;
	background-color: #fff;
	border: 2px #1FAB89 solid!important;

	&:hover {
		color: #fff!important;
		background-color: #1FAB89;
		border: 2px #1FAB89 solid!important;
	}
}