<script type="text/javascript">/* eslint-disable */</script>
<template>
	<div class="two">
		<navbar></navbar>
		<div class="container-detil">
			<div class="container">
				<Foodies></Foodies>
			</div>
		</div>
	</div>
</template>

<script>
	import Foodies from '@/components/GetDetail.vue'
	import navbar from '@/components/navbar'
	export default {
		name: 'restaurant',
		components: {
			Foodies,
			navbar
		},
		data: function () {
			return {
				restaurants:[],
				galleries:[],
				reviews:[]
			}
		}
	}
</script>
