<script>/* eslint-disable */</script>
<template>
	<div>
		<navbar></navbar>
		<img style="float: right;" src="@/assets/img/set-bulet.png">
		<div id="home"></div>
		<div class="container container-home">
			<div class="row">
				<div class="col-md-4">
					<h1 class="autofood-h1 wow fadeInLeft"><span class="half-h1">&nbsp;Why bother <br>&nbsp;when you can <br>&nbsp;order? </span></h1>
					<p class="autofood-p wow fadeInLeft">
						Dengan <b>Autofood</b> semua permasalahan lapar dapat terselesaikan. Tidak perlu lagi bingung mengantri dan terjebak macet. karena semua sudah Auto-selesai dengan <b>Autofood</b>!
					</p>
					<a class="btn btn-lg btn-second wow fadeInLeft" href="#about">tentang kami</a><br>
					<img style="margin-top: 100px;" src="@/assets/img/bulet-kecil.png">
				</div>
				<div class="col-md-8">
					<img style="width: 90%; float: right;" class="wow fadeInRight" src="@/assets/img/bg1.png">
				</div>
			</div>
		</div>
		<div id="about"></div>
		<div class="container container-about">
			<div class="row">
				<div class="col-md-7">
					<img style="width: 80%;" class=" wow fadeInLeft" src="@/assets/img/bg2.png">
				</div>
				<div class="col-md-5 col-sekilas wow fadeInRight">
					<h4>sekilas tentang</h4>
					<img src="@/assets/img/sekilas.png">
					<!-- <h1 class="autofood-h1">Auto<span class="ijo">food.</span></h1>
						<img class="imgku" src="@/assets/img/sekilas2.png"><br><br><br> -->
						<p class="autofood-p">
							Adalah aplikasi untuk memudahkan kebutuhan sehari hari terutama dalam masalah makanan. Kini anda tak perlu lagi datang langsung ke tempat untuk memesan makanan. Anda hanya perlu menggunakan Autofood dan masalah Auto-selesai.
						</p>
						<button class="btn btn-lg btn-third">layanan kami</button>
					</div>
				</div>
				<div class="row row-iconic">
					<div class="col-md-4 wow fadeInUp">
						<img src="@/assets/img/donlot.png">
						<h4>Diunduh<br>sebanyak</h4>
						<h1 class="autofood-h1-2"><span class="ijo">72.3</span>rb</h1>
					</div>
					<div class="col-md-4 wow fadeInUp" data-wow-delay="0.5s">
						<img src="@/assets/img/pengguna.png">
						<h4>Pengguna Aktif<br>sebanyak</h4>
						<h1 class="autofood-h1-2"><span class="ijo">58.8</span>rb</h1>
					</div>
					<div class="col-md-4 wow fadeInUp" data-wow-delay="1s">
						<img src="@/assets/img/restotan.png">
						<h4>Restaurant<br>tergabung</h4>
						<h1 class="autofood-h1-2"><span class="ijo">30.6</span>rb</h1>
					</div>
				</div>
			</div>
			<div id="layanan"></div>
			<div class="container-layanan">
				<div class="row">
					<div class="col-md-4">
						<div class="container-layanan-child-1">
							<img class="img-lay-1 wow fadeInLeft" src="@/assets/img/layanan.png">
							<h1 class="autofood-h1">
								<span class="half-h1 wow fadeInLeft">&nbsp;Kami <br>&nbsp;menawarkan <br>&nbsp;solusi. </span>
							</h1>
							<div class="pemesanan">
								<ul>
									<li class="active wow fadeInLeft">
										<a href="#layanan"><p>Pemesanan</p></a>
									</li>
									<li class=" wow fadeInLeft">
										<a href="#layanan"><p>Pembayaran</p></a>
									</li>
									<li class=" wow fadeInLeft">
										<a href="#layanan"><p>Pengiriman</p></a>
									</li>
								</ul>
							</div>
							<img class="img-lay-2" src="@/assets/img/bg3.png">
						</div>
					</div>
					<div class="col-md-8">
						<div class="container">
							<div class="row">
								<div class="col-md-1"></div>
								<div class="col-md-5">
									<div class="cardku wow fadeInUp">
										<h1>Pemesanan</h1>
										<img src="@/assets/img/pesan1.png">
										<p>
											Anda dapat memesan makanan ke<br>restaurant favorit di sekitar.<br> Memudahkan pembelian makanan<br>tanpa harus mengantri.
										</p>
									</div>
								</div>
								<div class="col-md-5">
									<div class="cardku wow fadeInUp" data-wow-delay="0.5s">
										<h1>Pembayaran</h1>
										<img src="@/assets/img/pesan2.png">
										<p>
											Pembayaran semakin mudah<br>terintegrasi dengan Virtual payment<br>seperti Ovo, Dana, dan Mobile banking<br>dari bank ternama.
										</p>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-md-1"></div>
								<div class="col-md-5">
									<div class="cardku wow fadeInUp">
										<h1>Pengiriman</h1>
										<img src="@/assets/img/pesan3.png">
										<p>
											Pembayaran semakin mudah<br>terintegrasi dengan Virtual payment<br>seperti Ovo, Dana, dan Mobile banking<br>dari bank ternama.
										</p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="container-ending">
				<div class="container">
					<center>
						<div class="cardku-ending wow fadeInUp">
							<img src="@/assets/img/ebd.png">

							<p>
								Unduh dan pasang aplikasi Autofood di handphone anda sekarang juga.<br>Tersedia pada iOS dan Android.
							</p>
							<button class="btn btn-lg btn-forth"><span class="fab fa-app-store-ios"></span>IOS App store</button>
							<button class="btn btn-lg btn-forth"><span class="fab fa-google-play"></span>Google Play</button>
						</div>
					</center>
				</div>
			</div>
			<footer>
				<div class="container container-footer">
					<div class="row">
						<div class="col-md-2">
							<img src="@/assets/img/end.png">
						</div>
						<div class="col-md-2">
							<div style="padding-left: 20px;">
								<h4>Umum</h4>
								<p>Home</p>
								<p>Tentang</p>
								<p>Layanan</p>
								<p>Download</p>
							</div>
						</div>
						<div class="col-md-2">
							<h4>Layanan</h4>
							<p>Pemesanan</p>
							<p>Pembayaran</p>
							<p>Pengiriman</p>
						</div>
						<div class="col-md-2">
							<h4>Bantuan</h4>
							<p>Ketentuan Layanan</p>
							<p>Privasi</p>
							<p>Contact</p>
							<p>FAQ</p>
						</div>
						<div class="col-md-4">
							<h4>Langganan</h4>
							<form>
								<input type="email" name="" placeholder="Email anda">
								<button class="btn btn-lg btn-third">Berlangganan</button>
							</form>
						</div>
					</div>
				</div>
			</footer>
		</div>
	</template>

	<script>
// @ is an alias to /src
import navbar from '@/components/navbar'

export default {
	name: 'home',
	components: {
		navbar
	}
}
</script>