<script>/* eslint-disable */</script>
<template>
	<div>
		<navbar></navbar>
		<div id="home"></div>
		<div class="parallax-list"></div>
		<div class="container container-food">
			<img src="@/assets/img/sekilas.png" class=" wow fadeInUp">
			<div class="row">
				<food v-for="(item, index) in restaurants"  :key="index" :item="item"></food>
			</div>
		</div>
	</div>
</template>

<script>
	import food from '@/components/GetRestaurant'
	import navbar from '@/components/navbar'
	export default {
		name: 'restaurant',
		components: {
			food,
			navbar
		},
		computed:{
			restaurants () {
				return this.$store.state.getRestaurant.data.restaurants 
			}
		},
		mounted () {
			document.title = 'List Restaurant',
			this.$store.dispatch('getRestaurant/getRestaurants')
		}
	}
</script>