<script type="text/javascript">/* eslint-disable */</script>
<template>
	<div class="row">
		<div class="col-md-5">
			<img class="img-detail" :src="restaurants.featured_image" width="100%">
			<center><i><b><a class="green" target="_blank" :href="restaurants.url">{{ restaurants.name }} website</a></b></i></center>
		</div>

		<div class="col-md-7">
			<h2 class="autofood-h2">
				{{ restaurants.name }} <span class="badge badge-success" v-if="restaurants.user_rating"><i style="color:#f4bf42" class="fa fa-star" aria-hidden="true"></i> {{ restaurants.user_rating.aggregate_rating }} / 5.0</span>
			</h2>
			<br>
			<h6>
				<i class="fa fa-map-marker green" aria-hidden="true"></i> {{ restaurants.location.address }}, Indonesia
			</h6>
			<h6>
				<i class="fa fa-clock green" aria-hidden="true"></i> {{ restaurants.timings }}
			</h6>
			<h6>
				<i class="fa fa-bookmark green" aria-hidden="true"></i> {{ restaurants.cuisines }} <strong>( {{ restaurants.establishment[0] }} )</strong>
			</h6>
			<h6>
				<i class="fa fa-phone green" aria-hidden="true"></i> {{ restaurants.phone_numbers }}
			</h6>
			<h6>
				<i class="fa fa-user green" aria-hidden="true"></i> Voted by : {{ restaurants.user_rating.votes }} users
			</h6>
			<hr>
			<h6>
				<i class="fa fa-money-bill-alt green"></i>Average Price : <b>{{ restaurants.currency }}.{{ restaurants.average_cost_for_two }}</b>
			</h6>
			<hr>
			<router-link :to="'/restaurant'" class="btn btn-lg btn-second">Kembali</router-link>
			<button class="btn btn-lg btn-second" data-toggle="modal" data-target="#exampleModalCenter">Order sekarang</button>
		</div>

		<!-- Modal -->
		<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
			<div class="modal-dialog modal-dialog-centered" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title" id="exampleModalLongTitle">Order {{ restaurants.name }}</h5>
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="modal-body">
						Paket {{ restaurants.name }} seharga : <b>{{ restaurants.currency }}.{{ restaurants.average_cost_for_two }}</b>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-secondary" data-dismiss="modal">Batal</button>
						<button class="btn btn-third" data-toggle="modal" data-target="#modalok" data-dismiss="modal">Order!</button>
					</div>
				</div>
			</div>
		</div>

		<!-- Modal selesai -->
		<div class="modal fade" id="modalok" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
			<div class="modal-dialog modal-dialog-centered" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title" id="exampleModalLongTitle">Berhasil Membeli {{ restaurants.name }}</h5>
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="modal-body">
						<img class="order-imeg" :src="restaurants.featured_image">
						<p class="order-p">{{ restaurants.name }} seharga <b>{{ restaurants.currency }}.{{ restaurants.average_cost_for_two }}</b> berhasil dibeli!</p>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-third" data-dismiss="modal">Tutup</button>
					</div>
				</div>
			</div>
		</div>

		<div class="col-md-12" style="margin-top:4%">
			<h2>Gallery <font color="#62D2A2">Restaurant</font></h2><br>
			<div class="row">
				<div class="col-md-2" v-for="(item, index) in galleries" :key="index" :item="item">
					<img class="img-gallery" :src="item.photo.url">
				</div>
			</div>
		</div>

		<div class="col-md-12 komen">
			<h2>Review <font color="#62D2A2">Restaurant</font></h2><br>
			<div class="row">      
				<div class="card card-detail-padding col-md-12 space-card" v-for="(item, index) in reviews" :key="index" :item="item">
					<div class="card-body">
						<div class="row">
							<div class="col-md-2">
								<img :src="item.review.user.profile_image" />
								<p class="text-secondary text-center menit-komen">{{ item.review.review_time_friendly }}</p>
							</div>
							<div class="col-md-10 kustomer">
								<h5><a :href="item.review.user.profile_url"><strong>{{ item.review.user.name }}</strong></a><span class="badge badge-success"><i style="color:#f4bf42" class="fa fa-star" aria-hidden="true"></i> {{ item.review.rating }}.0 / 5.0</span></h5>
								<p>{{ item.review.review_text }}</p>
							</div>
						</div>
					</div>
				</div>           
			</div>
		</div>

	</div>
</template>

<script>
	export default {
		name: 'GetDetail',
		props: {
			restaurant: String,
		},
		computed:{
			restaurants () {
				return this.$store.state.detail.data.restaurants 
			},
			galleries () {
				return this.$store.state.gallery.data.galleries
			},
			reviews () {
				return this.$store.state.review.data.reviews
			}
		},
		mounted () {
			document.title = 'List Restaurant'
			const id = this.$route.params.id
			this.$store.dispatch('detail/getRestaurants', id)
			this.$store.dispatch('gallery/getGalleries', id)
			this.$store.dispatch('review/getReviews', id)
		}
	}
</script>
