<script type="text/javascript">/* eslint-disable */</script>
<template>
	<div class="col-md-4 col-lg-3">
		<router-link class="card card-padding wow fadeInUp" :to="{name:'detail',params:{id:item.restaurant.id}}">
			<img class="img-div" :src="item.restaurant.featured_image" alt="Image Movies">
			<div class="body-padding">
				<h5>{{ item.restaurant.name }}</h5>
				<ul class="list-group list-group-flush">
					<li class="list-group-item">
						<i class="fa fa-map-marker" aria-hidden="true"></i>
						<span class="lokasi">{{ item.restaurant.location.city }}</span>

						<i class="fa fa-star" aria-hidden="true"></i>
						<span class="bintang">{{ item.restaurant.user_rating.aggregate_rating }}</span>
						<p class="alamat">
							{{ item.restaurant.location.address }}
						</p>
					</li>
				</ul>
			</div>
			<div class="card-footer text-muted">
				<i style="color:#62D2A2" class="fa fa-bookmark" aria-hidden="true"></i> {{ item.restaurant.cuisines }}
			</div>
		</router-link>
	</div>
</template>

<script>
	export default {
		name: 'GetRestaurant',
		props: {
			item: Object,
			index: Number
		}
	}
</script>